.table-gempa {
	border: 1px solid #dfdfdf;
	border-top: 4px solid #A5732A;
	margin-top: -20px;
}
.btn, .form-control, nav.navbar{
	border-radius: 0px;
}
nav.navbar {
	border-top: none;
}
.btn-subscribe {
	background-color: #FFF;
}
.slide-text {
	margin-top: -36px;
}
tr td strong a {
	color: #333;
}